$white:#fff;
$yellowNav:#f8d088;
$grid1Clr:#ff5a5a;
$grid2Clr:#f8c837;
$headerImg:linear-gradient(to bottom, rgba(230, 111, 56, 0.842), rgba(255, 251, 20, 0.678)),url(../assets/bg1.png);
$designImg:url(../assets/images/background/phoneBg.png);
$commentsImg:url(../assets/images/background/mountain.png);
$mapImg:url(../assets/images/background/map2.png);
$paragraphColor:#808080;
$logoBgClr: rgba(226, 226, 226, 0.867);
$liteGreen:#95e1d3;
$greyBG:rgb(245, 245, 245);